@import 'vars'
@import 'placeholders'
@import 'partials/header'
@import 'partials/home'
@import 'partials/registration'


.cv-header-input-wrapper
    display: inline-block

.CVconainerWrapper
    width: 1240px
    height: 1754px
    background: white
    margin: 0 auto

.experienceWarpper
    border: 1px solid black
    padding: 10px
    margin-bottom: 10px

.active-cv-state
    display: block
    position: absolute
    margin-top: -11px

.block
    display: block

.hidden
    display: none

img
    width: 200px
    height: 200px

.inputsContainer
    margin-top: 15px

.icons-wrapper
    background: antiquewhite
    padding: 10px
    margin-top: -20px
    margin-left: 81px

.textarea-component-title
    overflow: hidden
    resize: none
    border: none
    font-size: 32px
    height: 40px
    font-weight: 600
    margin-top: 50px

.loading
    position: absolute
    width: 100%
    height: 100%
    z-index: 9999
    background-color: blue

.nav-tabs
    margin-bottom: 10px

.scroll
    height: 2000px