@import 'vars'
@import 'placeholders'
@import 'partials/header'
@import 'partials/home'
@import 'partials/registration'
@import 'partials/cv-page'
@import 'partials/cv-header'
@import 'partials/cv-textarea'


.fa
    color: $black
    &:hover
        color: $light-blue-800

.fa-circle
    margin-right: 5px
    margin-top: -8px

.experienceWarpper
    border: 1px solid rgba(255,255,255,0.0)
    &:hover
        border: 1px solid $light-blue-800

.active-cv-state
    display: block
    position: absolute
    margin-top: -11px

.block
    display: block

.innerPopOver
    display: block
    margin-top: 19px
    position: absolute
    left: 35%
    &::after
        content: ""
        position: absolute
        border-style: solid
        display: block
        width: 0
        top: -14px
        right: -65px
        bottom: auto
        left: auto
        border-width: 13px 13px 0 0
        border-color: transparent #EEEEEE

.hidden
    display: none

img
    width: 150px
    height: 150px

.icons-wrapper
    background: antiquewhite
    padding: 10px
    margin-top: -20px
    margin-left: 81px

.loading
    position: absolute
    width: 100%
    height: 100%
    z-index: 9999
    background-color: blue

.nav-tabs
    margin-bottom: 10px

.scroll
    height: 2000px

.componentOptionsPopOver
    width: auto
    padding: 10px 20px 10px 0
    margin-top: -40px
    right: 40%
    position: absolute
    z-index: 9
    span
        margin-left: 10px
        font-size: 17px

.componentWarpper
    text-align: left

.cv-achievment-wrapper
    display: flex
    align-items: center
    .fa
        font-size: 6px

// @media all
//     .page-break
//         display: none


// @media print
//     .page-break
//         display: block
//         page-break-before: always
//     @page
//         size: auto
//         margin: 0mm
