p
    color: red

.btn
    color: white
    font-weight: bold

.btn-danger
    background: red

.btn-primary
    background: blue

.cv-header-input-wrapper
    display: inline-block

.CVconainerWrapper
    width: 1240px
    height: 1754px
    background: white
    margin: 0 auto