.home-header {
  padding-top: 140px; }

.registration-page-wrapper input {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  height: 40px;
  width: 80%;
  position: relative;
  padding-left: 10px;
  padding-right: 5px;
  color: #fff !important;
  margin-bottom: 15px;
  width: 100%; }
  .registration-page-wrapper input:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px white; }
  .registration-page-wrapper input::-webkit-input-placeholder {
    color: #fff; }

.headerPopOverWrapper {
  height: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center; }

.cv-header-wrapper {
  border: 1px solid rgba(255, 255, 255, 0); }
  .cv-header-wrapper:hover {
    border: 1px solid #0277BD; }

.header-logo {
  display: inline-block; }
  .header-logo img {
    width: 200px;
    height: auto; }

.header-wrapper {
  position: absolute;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  width: 100%;
  z-index: 9999; }
  .header-wrapper li {
    display: inline-block;
    list-style-type: none; }
  .header-wrapper .btn-outline-primary {
    color: #fff;
    border-color: #fff; }
    .header-wrapper .btn-outline-primary:hover {
      border-color: #007bff; }

.header-menu-items {
  display: inline-block;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.home-page-link {
  color: #fff;
  margin-right: 20px; }
  .home-page-link:hover {
    color: #212529; }

.header {
  width: 1190px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px; }

.headerPopOverWrapper {
  width: 880px;
  margin-top: 35px; }

.headerPopOver {
  padding: 5px 10px; }

.headerInnerPopOver {
  display: block;
  margin-top: 20px;
  position: absolute;
  left: 42.5%; }
  .headerInnerPopOver::after {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    top: -14px;
    right: -65px;
    bottom: auto;
    left: auto;
    border-width: 13px 13px 0 0;
    border-color: transparent #EEEEEE; }

.home-header-wrapper {
  height: 720px;
  text-align: center;
  color: #ffffff;
  background-image: url(./images/bg-desk-3.jpg);
  background-position: top right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

.home-features {
  background-color: black;
  height: 300px; }

.registration-page-wrapper {
  height: 100%; }

.registration-header-wrapper {
  position: absolute;
  height: 100%;
  text-align: center;
  color: #ffffff;
  background-color: #545da9;
  background-image: -webkit-linear-gradient(top left, rgba(100, 255, 250, 0) 0%, rgba(100, 255, 250, 0.5) 75%, rgba(100, 255, 250, 0.5) 100%);
  background-image: -moz-linear-gradient(top left, rgba(100, 255, 250, 0) 0%, rgba(100, 255, 250, 0.5) 75%, rgba(100, 255, 250, 0.5) 100%);
  background-image: -o-linear-gradient(top left, rgba(100, 255, 250, 0) 0%, rgba(100, 255, 250, 0.5) 75%, rgba(100, 255, 250, 0.5) 100%);
  background-image: linear-gradient(to bottom left, rgba(100, 255, 250, 0) 0%, rgba(100, 255, 250, 0.5) 75%, rgba(100, 255, 250, 0.5) 100%);
  width: 100%; }

.registration-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  height: 100%; }

.tabs-container {
  width: 35%;
  height: 480px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center; }

.image-container {
  width: 45%;
  height: 565px;
  float: left;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-image: url(./images/registration-bg.png);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.1); }

.tabs {
  width: 300px; }
  .tabs .active .nav-link a:hover {
    color: #495057 !important; }
  .tabs .btn-outline-primary {
    color: #fff;
    border-color: #fff; }
    .tabs .btn-outline-primary:hover {
      border-color: #007bff; }

.alert-danger {
  position: absolute;
  width: 400px;
  margin-top: 165px; }

.paper {
  background-image: url(./images/paper-bg.jpg) !important;
  background-color: #fafafa !important; }

.cv-page-wrapper {
  padding: 100px 0 0 0;
  background-color: #54a7d3;
  min-height: 100%; }

.loader-wrapper {
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 150px; }

.fa {
  color: #000000; }
  .fa:hover {
    color: #0277BD; }

.fa-circle {
  margin-right: 5px;
  margin-top: -8px; }

.experienceWarpper {
  border: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px dashed grey;
  padding: 10px 0 5px 2px; }
  .experienceWarpper:hover {
    border: 1px solid #0277BD; }

.input-range-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; }

.input-range-component {
  display: flex;
  flex-basis: calc(50% - 10px);
  justify-content: center;
  flex-direction: column; }

.slider div {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.componentOptionsPopOver, .componentOptionsPopOverRight, .componentOptionsPopOverTitle {
  width: auto;
  padding: 10px 20px 10px 0;
  margin-top: -40px !important;
  right: 40%;
  position: absolute;
  z-index: 9; }
  .componentOptionsPopOver span, .componentOptionsPopOverRight span, .componentOptionsPopOverTitle span {
    margin-left: 10px;
    font-size: 17px; }

.componentOptionsPopOverRight {
  right: 30%; }

.innerPopOver, .innerSmallerPopOver, .innerShortComponentPopOver {
  display: block;
  margin-top: 19px;
  position: absolute;
  left: 35%; }
  .innerPopOver::after, .innerSmallerPopOver::after, .innerShortComponentPopOver::after {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    top: -14px;
    right: -100px;
    bottom: auto;
    left: auto;
    border-width: 13px 13px 0 0;
    border-color: transparent #EEEEEE; }

.componentOptionsPopOverTitle {
  margin-top: 17px !important; }

.componentOptionsSmallerPopOver {
  width: auto;
  padding: 1px 20px 1px 0;
  margin-top: -34px !important;
  margin-left: 15px;
  z-index: 9; }
  .componentOptionsSmallerPopOver span {
    margin-left: 10px;
    font-size: 17px; }

.innerSmallerPopOver {
  left: auto;
  margin-left: 44px;
  margin-top: -3px !important; }
  .innerSmallerPopOver::after {
    right: -65px; }

.innerShortComponentPopOver {
  left: 25%; }

.componentWarpper {
  text-align: left; }

.cv-achievment-wrapper {
  display: flex;
  align-items: center; }
  .cv-achievment-wrapper .fa {
    font-size: 6px; }

.icon-wrapper {
  width: 40px;
  height: 40px;
  line-height: 44px;
  display: inline-block;
  margin: 8px 10px;
  padding-left: 1px;
  cursor: pointer;
  position: relative;
  z-index: 10; }

.cv-header-wrapper {
  display: block;
  text-align: left;
  padding: 25px; }

.cv-name-wrapper, .cv-role-wrapper {
  width: 610px;
  max-width: 610px; }
  .cv-name-wrapper textarea, .cv-role-wrapper textarea {
    background: transparent; }

.cv-name {
  display: inline-block;
  overflow: hidden;
  resize: none;
  border: none;
  font-size: 42px;
  height: 50px;
  font-weight: 600;
  width: 610px;
  max-width: 610px; }
  .cv-name textarea {
    height: 58px; }

.cv-role {
  display: inline-block;
  overflow: hidden;
  resize: none;
  border: none;
  font-size: 21px;
  height: 40px;
  font-weight: 600;
  width: 610px;
  max-width: 610px; }

.photo-wrapper {
  float: right;
  margin-top: 19px;
  border-radius: 50%;
  overflow: hidden; }

.cv-header-input-wrapper {
  display: inline-block;
  margin: 5px;
  margin-top: 0;
  height: 30px; }

.cv-header-input {
  margin-left: 5px; }
  .cv-header-input input {
    font-size: 14px !important; }

.imagePopUp {
  position: absolute;
  height: 300px;
  width: 300px;
  top: 50%;
  left: 50%;
  background-color: firebrick;
  z-index: 9;
  margin-left: -150px;
  margin-top: -150px; }
  .imagePopUp .imagePopUpInner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }

.textarea-component-title {
  overflow: hidden;
  resize: none;
  border: none;
  font-size: 28px !important;
  font-weight: 600;
  margin-top: 50px;
  width: 100% !important;
  border-bottom: 2px solid #000000; }

.cv-header-input {
  font-size: 15px !important; }

.cv-standart-title {
  font-size: 21px !important;
  width: 100% !important;
  margin-top: -10px; }

.cv-standart-sub-title {
  font-size: 15px !important;
  font-weight: 600 !important;
  width: 100% !important; }

.textarea-default {
  height: 40px !important;
  margin-top: -8px !important; }

.inline-textarea-icon-wrapper {
  display: inline-block; }

.inline-textarea-icon {
  font-size: 11px !important;
  width: auto !important;
  margin-left: 5px !important; }

.textarea-sm {
  font-size: 13px !important; }

.block-textarea-icon {
  font-size: 13px !important;
  width: 80% !important;
  margin-left: 5px !important; }

.multiline-textarea {
  width: 100% !important;
  overflow: visible;
  font-size: 15px !important; }

.short-component-title {
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px; }

.cv-technologies-input {
  border: 1px solid #a9a9a9;
  padding: 5px 8px;
  background: transparent;
  min-width: 20px;
  margin: 5px;
  max-width: 95%;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  display: inline-block; }

.cv-texhnologies-wrapper {
  display: inline-block; }

.technology-input-wrapper {
  display: inline-block;
  margin: 0 15px 7px 0; }
  .technology-input-wrapper input {
    background: transparent;
    border: 1px solid #a9a9a9;
    padding: 5px 8px;
    font-size: 14px;
    font-weight: 700; }

.blue-icons {
  font-size: 23px; }
  .blue-icons:hover {
    color: #000000; }

.changable-color {
  color: #0277BD; }

.changable-color-input input {
  color: #0277BD !important; }

.aside {
  float: left;
  padding: 5px 20px 20px 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 220px;
  text-align: center;
  margin-left: 5px; }

.colors, .fonts {
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  padding: 5px;
  text-align: center;
  max-height: 0;
  overflow: hidden; }

.font {
  cursor: pointer;
  font-weight: 800;
  font-size: 19px; }
  .font:hover {
    text-decoration: underline; }

.color {
  display: inline-block;
  position: relative;
  margin: 8px 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer; }

.black-border {
  border: 8px solid black; }

.midnightblue-border {
  border: 8px solid #002878; }

.saddlebrown-border {
  border: 8px solid #54300e; }

.red-border {
  border: 8px solid #ff0000; }

.green {
  background-color: #00b400; }

.dodgerblue {
  background-color: #008cff; }

.darkviolet {
  background-color: #a300ca; }

.red {
  background-color: #ff0000; }

.dimgray {
  background-color: #686868; }

.peru {
  background-color: #d49447; }

.violet {
  background-color: #9f5f9d; }

.darkorange {
  background-color: #ff6e00; }

.cadetblue {
  background-color: #639cc4; }

.indianred {
  background-color: #e15176; }

.lato {
  font-family: 'Lato', sans-serif; }

.playfair {
  font-family: 'Playfair Display', serif; }

.abril {
  font-family: 'Abril Fatface', cursive; }

.raleway {
  font-family: 'Raleway', sans-serif; }

.montserrat {
  font-family: 'Montserrat', sans-serif; }

.exo {
  font-family: 'Exo 2', sans-serif; }

.oswald {
  font-family: 'Oswald', sans-serif; }

.chivo {
  font-family: 'Chivo', sans-serif; }

.roboto {
  font-family: 'Roboto Slab', serif; }

.active-cv-state {
  display: block;
  position: absolute;
  margin-top: -11px; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.hidden {
  display: none; }

img {
  width: 150px;
  height: 150px; }

.icons-wrapper {
  background: antiquewhite;
  padding: 10px;
  margin-top: -20px;
  margin-left: 81px; }

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: blue; }

.nav-tabs {
  margin-bottom: 10px; }

.scroll {
  height: 2000px; }

@media print {
  -webkit-print-color-adjust: exact;
  .header-wrapper {
    display: none !important; }
  .header-menu-items-wrapper {
    display: none !important; }
  .container {
    max-width: 100% !important; }
  .paper {
    width: 100% !important; }
  .aside {
    display: none; }
  .cv-page-wrapper {
    padding: 0; }
  .page-break {
    page-break-inside: avoid; }
  .cv-page-wrapper {
    background: #fff; }
  .paper:after {
    content: "\ Generated with love by Victor Atanasov CV Generator";
    color: black;
    display: block;
    height: 100%; }
  @page {
    size: auto;
    margin: 0mm; } }
