.aside
    float: left
    padding: 10px 5px 6px 5px
    border: 1px solid $transparent-white
    width: 220px
    text-align: center
    margin-left: 5px

.colors
    transition:  all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
    padding: 5px
    text-align: center
    max-height: 0
    overflow: hidden
    margin: 1px 0
    border-radius: 3px
    background-color: $white

.not-active
    padding: 0
    margin: 0 0 5px 0 !important

.fonts
    @extend .colors

.comps
    @extend  .colors

.font
    cursor: pointer
    font-weight: 800
    font-size: 19px
    &:hover
        //text-decoration: underline
        color: #54a7d3

.color
    display: inline-block
    position: relative
    margin: 8px 10px
    width: 40px
    height: 40px
    border-radius: 50%
    text-align: center
    cursor: pointer

.black-border
    border: 8px solid black

.midnightblue-border
    border: 8px solid #002878

.saddlebrown-border
    border: 8px solid #54300e

.red-border
    border: 8px solid #ff0000

.green
    background-color: #00b400

.dodgerblue
    background-color: #008cff

.darkviolet
    background-color: #a300ca

.red
    background-color: #ff0000

.dimgray
    background-color: #686868

.peru
    background-color: #d49447

.violet
    background-color: #9f5f9d

.darkorange
    background-color: #ff6e00

.cadetblue
    background-color: #639cc4

.indianred
    background-color: #e15176

.lato
    font-family: 'Lato', sans-serif

.playfair
    font-family: 'Playfair Display', serif

.abril
    font-family: 'Abril Fatface', cursive

.raleway
    font-family: 'Raleway', sans-serif

.montserrat
    font-family: 'Montserrat', sans-serif

.exo
    font-family: 'Exo 2', sans-serif

.oswald
    font-family: 'Oswald', sans-serif

.chivo
    font-family: 'Chivo', sans-serif

.roboto
    font-family: 'Roboto Slab', serif

.comp-name-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    cursor: pointer
    width: 80%
    margin: 0 auto
    padding: 10px 0
    border-bottom: 1px solid #e6e6e6

.black
    color: $black
    &:hover
        color: $cv-page-bg

.grey
    color: #e6e6e6

.comp-icon-blue
    color: $cv-page-bg
    &:hover
        color: $cv-page-bg

.comp-icon-grey
    color: #e6e6e6
    &:hover
        color: #e6e6e6