.header-logo
    display: inline-block
    img
        width: 200px
        height: auto

.header-wrapper
    padding: 20px 15px

.header-menu-items-wrapper
    display: inline-block
    float: right

.header-menu-items
    display: inline-block
    margin-left: 15px
    

