.header-logo
    display: inline-block
    img
        width: 200px
        height: auto

.header-wrapper
    position: absolute
    border-bottom: 1px solid rgba(255,255,255, 0.3)
    background: transparent
    width: 100%
    z-index: 9999
    li
        display: inline-block
        list-style-type: none
    .btn-outline-primary
        color: $white
        border-color: $white
        &:hover
            border-color: #007bff

.header-menu-items
    display: inline-block
    margin-left: 15px
    display: flex
    align-items: center
    justify-content: space-around
    

.header
    width: 1190px
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-between
    height: 80px